
*{
    padding: 0;
}
.container-fluid{
    background-color: rgb(24, 23, 23);
    font-size: 20px;
    font-weight: 600;
}
.nav {
    
    color: #ffffff !important;
}
.carousel-inner{
    width: 100%;
}
.tours{
    width: 100%;
    min-height: 750px;
    background-color: black;
    margin-top: 50px;
}
.list-group {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.pic1 .pic2 .pic3 {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.footpics{
    width: 60%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.city{
    font-size: 20px;
    color: white;

}
.button{
    width: 120px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.button:hover{
    background-color: gray;
}
.last{
font-size: 40px;
}
.thosepics {
    width: 60%;
}
ul li a {
    color: white !important;
}